body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.roulette {
    width: 17em;
    height: 17em;
}

#imagesHere img {
    width: 16em;
    height: 16em;
}

.fireworks {
    display: none;
}


#rouletteContainer {
    background-color: antiquewhite;
    position: absolute;
    top: 2em;
    padding: 2em;
    height: 21em;
    width: 21em;
    border: 10px solid #d5c875;
    border-radius: 15px;
}

#startButton {
    position: absolute;
    top: 25em;
    cursor: pointer;
    background: #2db34a;
    border-radius: 6px;
    transition-property: background, border-radius;
    transition-duration: 200ms;
    transition-timing-function: linear;
    width: 10em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#startButton:hover {

    border-radius: 20px;
}

#firework1 {
    position: relative;
    left: 20em;
}

#firework2 {
    position: relative;
    left: 39.5em;
}

#firework3 {
    position: relative;
    left: -10em;
    top: 20em;
}

#firework4 {
    position: relative;
    left: -36em;
    top: 23em;
}

#firework5 {
    position: relative;
    left: -27em;
    top: 23em;
}

#firework6 {
    position: relative;
    left: -30em;
    top: 25em;
}
